:root {
  --color-dark: hsl(24, 5%, 18%);
  --color-medium: hsl(30, 10%, 34%);
  --color-light: hsl(30, 18%, 87%);
  --color-ultralight: hsl(30, 54%, 90%);

  --color-brown: hsl(14, 45%, 36%);
  --color-bg: #F3E5D8;
  --color-rose: hsl(330, 100%, 98%);
  --color-highlight: hsl(332, 51%, 32%);
}

body {
  padding: 0;
  margin: 0;
  font-family: Outfit, sans-serif;
  height: auto;
  
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: var(--color-bg);
}

.card {
  margin: 3rem 0;
  width: 40rem;
  color: var(--color-medium);
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
}

.rec-image {
  width: 100%;
  border-radius: 10px;
}

.rec-info{
    background-color: var(--color-rose);
    border-radius: 10px;
    padding: .5em;
}

.rec-info_title {
    margin: 1em;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--color-highlight);
}

.title{
    font-family: "Young Serif", serif;
    font-size: 2em;
    font-weight: 300;
    color: var(--color-dark)
}


.step_title {
    color: var(--color-brown);
    font-family: "Young Serif", serif;
    font-size: 1.7rem;
    font-weight: 200;
}

.nut-table {
  width: 100%;
}

td {
  padding: .8rem 2rem;
}

.nut-table tr:not(:last-child) td{
  border-bottom: 1px solid var(--color-light);
}

.nut-table td:last-child {
  color: var(--color-brown);
  font-weight: 700;
}



.bold_text_beginning {
    font-weight: 700;
}

li {
    margin-bottom: .6em;
}

li::marker{
    color: var(--color-brown);
    font-weight: 700;
}

.step:not(:last-child){
    border-bottom: 1px solid var(--color-light);
}

.margin_marker {
  margin-left: 1rem;
  display: block;
}